/*Smaller screens - tablets*/
@media only screen and (max-width: 869px) {
    .menu {
        display: none;
    }
    .small-menu {
        display: contents;
        width: 100%;
    }
    table {
        font-size: medium;
    }
}

/*Smaller screens - mobile phones*/
@media only screen and (max-width: 410px) {
    table {
        font-size: small;
    }

    h2 {
        font-size: large;
    }

    h3 {
        font-size: medium;
    }

    .bda, .bda-dil, .se, .se-dil, .message, form, dl, .enhancements {
        font-size: small;
    }

    article p {
        font-size: small;
    }

    footer {
        font-size: x-small;
    }

    #big-logo {
        width: 75vw;
    }

    /*Fix the display of the article*/
    /* article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .main-article {
        display: flex;
        justify-content: center;
    }
    
    .receving-award {
        width: 30vw;
        max-width: 377px;
    }
    
    .col-one, .col-two {
        padding: 10px;
        width: 30vw;
        text-align: justify;
        line-height: 30px;
    }
    
    .ceo-message {
        justify-content: center;
        padding: 10px;
        width: 60vw;
        text-align: justify;
        line-height: 30px;
    }
    
    figcaption {
        text-align: center;
        line-height: 15px;
    } */
}