/* Styles used across all .html files */

/* Set the background image, and font-family for the site */
body {
    background-image: url('images/backgroundClear.png');
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style the header that includes the logo, nav-menu and a contact us button */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #6c6c6c;
}

/* Style the logo */
#logo {
    /* width: 100%; */
    height: auto;
    max-width: 12em;
    margin-right: 15px;
}

.menu {
    display: contents;
    text-align: center;
}

/* Remove the bullet points on the list, and display the nav items in a row */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

/* Style the nav items to match the style of the site */
nav li {
    margin: 0 10px;
    padding: 0.5em;
    border: 2px solid #7045af;
    border-radius: 10px;
    font-weight: bold;
}

/* Remove the underline from a elements, and change the text color */
nav a {
    text-decoration: none;
    color: #333;
}

/* Style the contact us button */
.button {
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Style the footer to have a line at the top */
footer {
    border-top: 1px solid #6c6c6c;
    text-align: center;
    padding: 5px;
    margin-top: auto;
}

/* Checkbox element to toggle the nav menu on and off on smaller screens - enhance */
#toggle {
    display: none;
}

/* _____________________________________________________ */
/* Specific Styling for jobs.html */

.bda, .se, .message, h2 {
    margin: 10px
}

/* Remove the underline from a elements */
sup a {
    text-decoration: none;
}

section h3 {
    padding: 0.5em;
    border-bottom: 2px solid #7045af; /*possibly change to border: 2px solid #7045af*/
    border-radius: 10px;
    width: fit-content;
}

/* Control how the content displays on small screens - enhance */
@media screen and (max-width: 827px) {
    #logo {
        width: 10em;
    }

    .menu {
        display: none;
    }

    #toggle {
        display: block;
    }

    #toggle:checked ~ .menu {
        display: block;
    }

    nav ul {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      transform: translateY(30%);
      transition: transform 0.3s ease-in-out;
    }
    
    nav li {
      margin: 10px 0;
      border: none;
      padding: 0;
      font-weight: lighter;
    }
}